.header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.login {
  gap: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.layout {
  min-height: 100vh;
}

.content {
  margin: 150px 0px;
  padding: 0 300px;
}

.menu {
  height: 100%;
}

.users-table {
  min-height: 280;
  padding: 0 24px;
}

.sider {
  background: #ffffff;
}

.layout-content {
  padding: 12px 0;
  background: #ffffff;
  border-radius: 8px;
}
